html {
  height: 100%;
}

body,
html {
  height: 100%;
  background-color: #2d2d2d;
  font-size: 20px;
  overflow: hidden;
}

h1 {
  margin: 0;
}

table {
  text-align: left;
  width: 75%;
  table-layout: auto;
  margin: 0 auto;
}

table td{
  width: 50%;
}

table td:nth-child(even) {
  text-align: right;
}



.App {
  font-family: "Helvetica", serif;
  text-align: center;
  color: white;
}

a {
  color: inherit;
  text-decoration: underline;

}

button {
  -webkit-tap-highlight-color: orange;
  border: 1px solid white;
  display: inline-flex;
  justify-items: center;
  justify-content: center;
  line-height: 0;
  align-items: center;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  padding: 0.25rem;
  background-color: gray;
  margin-right: 1rem;
}

button:last-of-type{
  margin: 0;
}

button:active,
button:hover {
  outline: none;
}
